{% extends 'base.html.twig' %}


{% block body %}

    {% if items | length > 0 %}

        {% include 'cart/_cartDisplay.html.twig' with {items:items}  %}

    {% else %}
    
        <p>Votre panier est vide</p>

    {% endif %}

{% endblock %}
