{% extends 'base.html.twig' %}


{% block body %}
  {% for message in app.flashes('notice') %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

    {% if items | length > 0 %}

        {% include 'cart/_cartDisplay.html.twig' with {items:items}  %}

    {% else %}
    
    <div class= "w-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
    
    <div>
    <h2 class="text-center" style="font-family: 'Montserrat'; font-weight: 800;"> Votre panier est vide ... :( </h2>
    <div class="row p-4">
        <a class=" btn mx-auto" href="{{path('homepage')}}" style="font-family: 'Baloo'; background-color: black; color: white;"> Qu'attendez vous pour le remplir ? </a> 
    </div>
    </div>
    
    </div>

    {% endif %}

{% endblock %}
