{% extends 'base.html.twig' %}


{% block body %}

    {% if items | length > 0 %}
    
        {% include 'cart/_cartDisplay.html.twig' with {items:items}  %}

        <a href="{{ path('order')}}" class="btn btn-success"> Next step !</a>

    {% else %}
        <p>Votre panier est vide</p>
        
    {% endif %}

{% endblock %}
