{% extends 'base.html.twig' %}


{% block body %}
  {% for message in app.flashes('notice') %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

    {% if items | length > 0 %}

        {% include 'cart/_cartDisplay.html.twig' with {items:items}  %}

    {% else %}
    
    <div class= "w-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
    
    <div style="background-color:#CDEFE3; padding: 4vw;">
    <p class="text-center"> Votre panier est vide :( </p>
    <a class="w-100 btn btn-danger w-100" href="{{path('homepage')}}"> Qu'attendez vous pour le remplir ? </a> 
    </div>
    
    </div>

    {% endif %}

{% endblock %}
