body {
    font-family: 'Montserrat',sans-serif;
    background-color: #CDEFE3;
    
}



h1 {
    font-family: 'Baloo', sans serif;
}

h2 {
    font-weight: bold;
    font-size: 100px;
}


.button--login {

    background-color: black;
    font-family: 'Baloo', sans-serif;
    border-radius: 20px;
    color: white;

}

.button--login:hover {

    color: 
}

.register_form {
    background-color: white;
}