body {
    background-color: #F2D5E3;    
    
}




h1 {

    font-family: 'Baloo', sans-serif;
    color: #0433BF;
}

form {
    
    font-family: 'Montserrat', sans-serif;
}

form * label {
    font-family: 'Baloo', sans-serif;
    color: #0433BF;
    
}

.button--registration {
    
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: 'Baloo', sans-serif;
    letter-spacing: 1px;
    

}

.button--registration:hover {
    background-color: #0433BF;
    color: #F2D5E3;

}