{% extends 'base.html.twig' %}


{% block title %}Liste des produits{% endblock %}
{% block body %}

   <main role="main"> 

  {% for message in app.flashes('notice') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
  

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

          <div class="col-md-3">
          
          {% include 'product/_filter.html.twig' with {form:form} only %}
          </div>

          <div class="col-md-9 d-flex flex-wrap">
          
            

            {% for product in products %}
              {% include 'product/_card.html.twig' with {product:product} only %} 
            {% endfor %}
            
           
           
          
          </div>
  
      </div>
      
           
    </main>
{% endblock %}

{% block navBar %}
{% endblock %}
