{% extends 'base.html.twig' %}


{% block title %}Liste des produits{% endblock %}
{% block body %}



   <main role="main">


      <div class="album py-5 bg-light">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-2">
          
              {% include 'product/_filter.html.twig' with {form:form} only %}
            </div>

            <div class="col-md-8 d-flex flex-wrap">
              
              <div class="col-8 border mb-4">

                ROW
              </div>
              
              {% for product in products %}
                {% include 'product/_card.html.twig' with {product:product} only %} 
              {% endfor %}
            
            </div>
            
    
        </div>



          </div>
         
      
      <p>d</p>
      
           
    </main>
{% endblock %}

{% block navBar %}
{% endblock %}
