<div class="d-flex flex-row justify-content-start no-gutters ">
    <div class="col-md-12 table_part">
        <table class="table border bg-light">
        <thead style="background-color: #9C9AD9; color: white;">
        <tr>
        <th> Commande passée le : </th>
        <th> {{order.orderDate | date("d/m/Y") }} </th>
        
        </tr>
        <tr style="background-color: #032CA6;">
        <th> Statut de la commande : </th>
        <th> {{order.state}} </th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <th> Nom du produit </th>
        <th> Quantité </th>
        </tr>
          {% for product in order.ordersProducts %}
                <tr> 
                    <td>{{ product.product.name }}</td>
                    <td style="font-weight: bold;">{{ product.quantity }} </td>
                </tr>
                {% endfor %}
        
        </tbody>
        <tfoot>
        <tr> 
        <td> Commande livrée le : </td>
        <td > Jamais ! </td>
        </tr>
        </tfoot>
        </table>
    </div>
</div>