{% extends 'base.html.twig' %}

{% block title %}{% if editMode %}    
    Modifier l'adresse 
    {% else %}
    Ajouter une adresse
    {% endif %}
{% endblock %}

{% block body %}
   <h1>
     {% if editMode %}    
    Modifier l'adresse 
    {% else %}
    Ajouter une adresse
    {% endif %}
    </h1>
<div class="container">
<div class="row"> 

   {% include 'address/_formAddress.html.twig' with {editMode:editMode}  %}
    </div>
{% endblock %}