{% extends 'base.html.twig' %}


{% block body %}
<style>
  body { background-color: #F2D5E3; }
</style>

  <div class="container-fluid">
    <h1 class="text-center shadow-sm p-4 mb-4" style="font-family: 'Baloo', sans-serif; letter-spacing: 1px; background-color:white; color: #9C9AD9;"> {{ category }} </h1>
    <div class="row">
      <div class="col-md-2">
        <h4 class="text-center"> Prix</h4>
        <form action="#" method="POST">
          <div class="row">
            <div class="col-md-5 mr-1">
              {{form_row(form.min)}}
            </div>
            <div class="col-md-5 mr-1">
              {{form_row(form.max)}}
            </div>
          </div>
          {{form_row(form.Filtrer, {attr : {class: 'btn btn-dark w-50 mx-auto'}})}}
        </form>
      </div>
      <div class="col-md-8 d-flex flex-wrap">
        {% for product in products %}
          {% include 'product/_card.html.twig' with {product:product} only %} 
        {% endfor %}
      </div>
    </div>
  </div>

  

{% endblock %}
