{% extends 'base.html.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block body %}

  <div class="container">
  <h1> {{ category }} </h1>
  <div class="row">
    {% for product in products %}
    {% include 'product/_card.html.twig' with {product:product} only %} 
  {% endfor %}
  </div>
  </div>
  

{% endblock %}
