{% extends 'base.html.twig' %}

{% block title %}Commande en cours!{% endblock %}


{% block body %}
<style>

    body {
        font-family: 'Montserrat', sans-serif;
        color: #032CA6;
    }

    h1,h4,h2 {font-family: 'Baloo', sans-serif; }

    .button--next {
        background-color: #4563BF;
        font-family: 'Baloo', sans-serif;
        border-radius: 20px;
        color: white;
    }
    .button--return {
        background-color: black;
        font-family: 'Baloo', sans-serif;
        border-radius: 20px;
        color: white;
    }

    .box--price {
        font-family: 'Baloo', sans-serif;
        background-color: white;
        color: #032CA6;
        border: 1px solid #032CA6;
    }

    .box--total {
        border: 1px solid #032CA6;

    }

</style>

<h1 class="p-4">Passer la commande </h1>
<div class="container">

  <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h2> Adresse de livraison :</h2>
                </div>
                <div class="col-md-6 mb-4">
                        {% if addressUser is empty %}
                            {% include 'address/_formAddress.html.twig' with {editMode:editMode} %}
                        {% endif %}
            
                        {% for address in addressUser %}
                            {% include 'address/_cardAddress.html.twig' with {address:address, orderMode:orderMode} only %}
                        {% endfor %}
                </div>
            </div>
            
         

            <h2> Vérification et validation de votre commande :</h2>
            {% include 'cart/_cartDisplayOrder.html.twig' with {items:items, total:total, daysDelivery: daysDelivery} %}
            
        </div>

        <div class="col-md-4">
        
            <div class="card">
                <div class="card-body p-2" style="background-color:#9C9AD9;">
              
                    {% if reducedAmount != null %}
                     
                    <h4 class="text-center"> Montant total: <del>{{ total }} </del> {{ reducedAmount}} € </h4>
                    {% else %}
                    <h4 class="text-center"> Montant total : {{ total }} € </h4>
                    {% endif %}
                    
                </div>
            </div>
            <div>
            
            {{form(formOrder)}}
            </div>
        </div>
    </div>

</div>

  


{% endblock %}
