{% extends 'base.html.twig' %}

{% block title %}Commande en cours!{% endblock %}


{% block body %}
<h1>Passer la commande </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2> 1. Adresse de livraison </h2>
            {% if addressUser is empty %}
                {% include 'address/_formAddress.html.twig' with {editMode:editMode} %}
            {% endif %}
            
            {% for address in addressUser %}
                {% include 'address/_cardAddress.html.twig' with {address:address, orderMode:orderMode} only %}
            {% endfor %}

            <h2> 2. Mode paiement </h2>

            <h2> 3. Vérification et validation de votre commande </h2>
            {% include 'cart/_cartDisplay.html.twig' with {items:items}  %}
        </div>

        <div class="col-md-6">
        
            <div class="card">
                <div class="card-body">
                    <p> Montant total: {{ total }} € </p>
                    
                </div>
            </div>
            <div>
            
            {{form(formOrder)}}
            </div>
        </div>
    </div>
</div>

{% endblock %}
